@model CCMvc.ViewModels.RaceViewModel

@{
    ViewBag.Title = "Race Detail | CCIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Schools", "Index", "Organization")</li>
        }
        <li>@Html.ActionLink(Model.OrganizationName, "OrganizationDetail", "Organization", new { organizationId = Model.OrganizationId }, null)</li>
        <li class="active">@Model.Description</li>
    </ol>
}

@Html.Partial("MarkAsCompletedModal")
@Html.Partial("CancelModal")
@Html.Partial("~/Views/RunnerRaceRecordSegment/ManageModal.cshtml")

<ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation" class="active">
        <a href="#raceDetailsTab" aria-controls="raceDetailsTab" role="tab" data-toggle="tab">Race Details</a>
    </li>
    <li role="presentation">
        <a href="#peopleTab" aria-controls="peopleTab" role="tab" data-toggle="tab">People</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="raceDetailsTab">
        <ul class="list-group">
        @if (Model.CompletedOnUTC.HasValue)
        {
            <li class="list-group-item">
                <div class="alert alert-info" style="margin-bottom:0px">
                    You are presently viewing a completed race
                </div>
            </li>
        }
        else
        { 
            <li class="list-group-item">
                <button type="button" class="btn btn-warning" id="markAsCompletedBtn" 
                    data-organization-id='@Model.OrganizationId'
                    data-race-id='@Model.RaceId'>Mark As Completed</button>
                <button type="button" class="btn btn-danger" id="cancelBtn" 
                    data-organization-id='@Model.OrganizationId'
                    data-race-id='@Model.RaceId'
                    data-redirect-url='@Url.Action("OrganizationDetail", "Organization", new { organizationId = Model.OrganizationId })'>
                    Cancel Race</button>
            </li> 
        }                       
        </ul>
        @using (Ajax.BeginForm("Edit", "Race", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "editRaceForm",
            OnSuccess = "editRaceSucceeded",
            OnFailure = "editRaceFailed"
        }, new { @class = "form-horizontal", @id = "frmEditRace" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <div id="editRaceForm" 
                    data-organization-id="@Model.OrganizationId"
                    data-race-id='@Model.RaceId' 
                    data-edit-url="@Url.Action("Edit", "Race")">
                @{ Html.RenderAction("Edit", "Race", new { organizationId = Model.OrganizationId, raceId = Model.RaceId }); }
            </div>
        }
        
    </div>

    <div role="tabpanel" class="tab-pane fade active in" id="peopleTab">
        <ul class="list-group">
            <li class="list-group-item">
                <button type="button" class="btn btn-primary" id="selectAllRunnersBtn">Select All</button>
                <button type="button" class="btn btn-default" id="unselectAllRunnersBtn">Unselect All</button>
            </li>
        </ul>
        @using (Ajax.BeginForm("ManageRunners", "RunnerRaceRecord", null, new AjaxOptions 
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "manageRunnersForm",
            OnSuccess = "manageRunnersSucceeded",
            OnFailure = "manageRunnersFailed"
        }, new { @class = "form-horizontal", @id = "frmManageRunners" }))
        {
            @Html.AntiForgeryToken()
            <div id="manageRunnersForm"
                    data-organization-id="@Model.OrganizationId"
                    data-race-id='@Model.RaceId' 
                    data-manage-url="@Url.Action("ManageRunners", "RunnerRaceRecord")">
                @{ Html.RenderAction("ManageRunners", "RunnerRaceRecord", new { organizationId = Model.OrganizationId, raceId = Model.RaceId }); }
            </div>
        }
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/bundles/RaceDetail");
}