@model CCMvc.ViewModels.OrganizationVM
@{
    ViewBag.Title = "School Details | CCIS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section breadcrumbs {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        @if (User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Schools", "Index", "Organization")</li>
        }
        <li class="active">@Model.Name</li>
    </ol>
}

@Html.Partial("~/Views/User/CreateUserModal.cshtml")
@Html.Partial("~/Views/User/EditUserModal.cshtml")

@Html.Partial("~/Views/Race/CreateModal.cshtml")


<ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation">
        <a href="#organizationDetailsTab" aria-controls="organizationDetailsTab" role="tab" data-toggle="tab">School Details</a>
    </li>
    <li role="presentation">
        <a href="#usersTab" aria-controls="usersTab" role="tab" data-toggle="tab">People</a>
    </li>
    <li role="presentation" class="active" >
        <a href="#racesTab" aria-controls="racesTab" role="tab" data-toggle="tab">Races</a>
    </li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" id="organizationDetailsTab">
        @using (Ajax.BeginForm("Edit", "Organization", null, new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "editOrganizationForm",
            OnSuccess = "editOrganizationSucceeded",
            OnFailure = "editOrganizationFailed"
        }, new { @class = "form-horizontal", @id = "frmEditOrganization" }))
        {
            @Html.AntiForgeryToken()
            <br />
            <div id="editOrganizationForm" 
                    data-organization-id="@Model.OrganizationId" 
                    data-edit-url="@Url.Action("Edit", "Organization")">
                @{ Html.RenderAction("Edit", "Organization", new { organizationId = Model.OrganizationId }); }
            </div>
        }
    </div>

    <div role="tabpanel" class="tab-pane fade" id="usersTab">
        <ul class="list-group">
            <li class="list-group-item">
                <button type="button" class="btn btn-default" id="addNewUserBtn" 
                    data-url='@Url.Action("Create", "User")' 
                    data-organization-id='@Model.OrganizationId'>Add New</button>
            </li>
            <li class="list-group-item">
                @using (Ajax.BeginForm("Users", "User", new { organizationId = Model.OrganizationId }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "userTablePanel",
                    OnSuccess = "getUsersSucceeded"
                }))
                {
                    <div id="userTablePanel">
                    </div>
                }
            </li>
        </ul>
    </div>

    <div role="tabpanel" class="tab-pane active fade in" id="racesTab">
        <ul class="list-group">
            <li class="list-group-item">
                <button type="button" class="btn btn-default" id="addNewRaceBtn" 
                    data-url='@Url.Action("Create", "Race")' 
                    data-organization-id='@Model.OrganizationId'>Create</button>
            </li>
        </ul>            
        <div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upcoming</h3>
                </div>
                @using (Ajax.BeginForm("UpcomingRaces", "Race", new { organizationId = Model.OrganizationId }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "upcomingRacesTablePanel",
                    OnSuccess = "getUpcomingRacesSucceeded"
                }))
                {
                    <div id="upcomingRacesTablePanel" class="panel-body">
                    
                    </div>
                }
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Completed</h3>
                </div>
                @using (Ajax.BeginForm("CompletedRaces", "Race", new { organizationId = Model.OrganizationId }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "completedRacesTablePanel",
                    OnSuccess = "getCompletedRacesSucceeded"
                }))
                {
                    <div id="completedRacesTablePanel" class="panel-body">
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/bundles/OrganizationDetail");
}
