@model CCMvc.ViewModels.UserEditViewModel

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert" id="userEditErrorAlert">
        <strong>Please correct the following errors:</strong>
        @Html.ValidationSummary(false, "")
    </div>
}

@Html.HiddenFor(m => m.UserId)
@Html.HiddenFor(m => m.Username)
@Html.HiddenFor(m => m.OrganizationId)

<div class="form-group">
    @Html.LabelFor(model => model.Username, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        <p class="form-control-static">@Html.DisplayFor(model => model.Username)</p>
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Password, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.PasswordFor(model => model.Password, new {@placeholder="Enter new password if desired", @autocomplete = "off", @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>
</div>
<div class="form-group">
    @Html.Label("Role", new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.DropDownListFor(m => m.RoleId, (SelectList)Model.RoleList, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.RoleId)
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-3 col-sm-8">
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.EligibleForRaces) @Html.DisplayNameFor(m => m.EligibleForRaces)
            </label>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    @Html.LabelFor(model => model.Firstname, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Firstname)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Lastname, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Lastname)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Middlename, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Middlename, new { @class = "form-control" })        
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.GraduationYear, new { @class = "col-sm-3 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.GraduationYear, new { @class = "form-control" })
    </div>
</div>